@import "tailwindcss";

body {
  background-image: url('/geodude-pattern.png');
  background-repeat: repeat;
}

.Flax {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.image-wrapper {
  background-color: #000000;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  margin: 0 auto;
}

.image-wrapper img {
  max-width: 250px;
  height: auto;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.background-white {
  background-color: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}